@import 'tailwindcss';
body {
    background-color: rgb(6, 2, 52);
}
.contact {
    background-color: rgb(11, 5, 70);
}
.clips {
    background-image: url('public/pic1.png');
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 10s linear infinite;
}
.beet {
    box-shadow: 3px 2px 3px rgba(255, 255, 255, 0.9),
    -5px -4px 5px rgba(107, 148, 236, 0.9);
    background: linear-gradient(to right, rgb(156, 160, 231), blue);
}