@import 'tailwindcss';
body {
    background-color: rgb(6, 2, 52);
}
.contact {
    background-color: rgb(11, 5, 70);
    
}
.clips {
    background-image: url('/Screenshot 2025-08-12 165339.png');
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 10s linear infinite;
}
.beet {
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9),
    -1px -1px 3px rgba(107, 148, 236, 0.9);
    background: linear-gradient(to right, rgb(84, 11, 11), blue);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} 
.beet:hover {
    transform: translateY(-1px) scale(1.00);
    box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.9),
    -2px -2px 8px rgba(107, 148, 236, 0.9);
} 
.beet::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.6),
        transparent
    );
    transform: skewX(-25deg);
} 
.beet:hover::after {
    animation: shimmer 1s ease forwards;
}
@keyframes shimmer {
    100% {
        left: 125%;
    }
}

.box {
   transition: box-shadow 0.3s ease-in-out;  
}
.box:hover {
    box-shadow: 0px 1px 5px 5px rgba(209, 215, 209, 0.6);
}
.box-orange-green {
    position: relative; 
    max-width: 400px;
    max-height: fit-content;
    background-color: rgb(0, 0, 0);
}
 
.box-orange-green .content { 
    background: #060c21;
}
 
.box-orange-green::before,
.box-orange-green::after {
    content: "";
    position: absolute;
    inset: -3px;  
    border-radius: 9px;
    z-index: -1;
}
.box-orange-green::before,
.box-orange-green::after {
    background: conic-gradient(
        from var(--angle),
        #f35807,   
        #060c21,   
        #36d709,  
        #060c21,   
        #f35807
    );
}

.box-orange-green::after {
    filter: blur(10px);
    z-index: -1;
}
.box-orange-green:hover::before,
.box-orange-green:hover::after {
    animation: glowing-border-orange-green 3.5s linear infinite;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 53deg;
    inherits: false;
}

@keyframes glowing-border-orange-green {
    from { --angle: 53deg; }
    to   { --angle: 413deg; }
}

@keyframes blur-effect {
    from { filter: blur(20px); }
    to   { filter: blur(19px); }
}
.social-scroll{
    padding-bottom: 10px;
}
.social-scroll::-webkit-scrollbar {
  height: 6px; 
}

.social-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.social-scroll::-webkit-scrollbar-thumb {
  background: #ff0088;
  border-radius: 10px;
}

.social-scroll::-webkit-scrollbar-thumb:hover {
  background: #d6006e;
}
